.pill {
  display: flex;
  flex-direction: row;
  margin: 0 .75rem .5rem 0;

  span {
    cursor: pointer;
    padding: .5rem .6rem;
    border-radius: 2rem;
    margin-bottom: 0;
    background-color: lighten(#e1e5fa, 4%);
    transition: all .25s ease-in-out;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.75rem;
  }

  &:hover span {
    background-color: #e1e5fa;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked~span {
      color: $white;
      background-color: $blue;
    }
  }
}